<div class="container">
  <div class="project-black-card"></div>
  <div class="project-black-card-name">
    <h1 class="project-name-large">sgmi</h1>
  </div>
  <div class="project-container">
    <div class="project-description">
      <p class="description-large">A wallet performance tracker for NFT holders on the Solana blockchain.</p>
    </div>
    <div class="project-details">
      <div class="project-details-column col-role">
        <div class="header-detail">ROLE</div>
        <p class="col-detail">Project Leader</p>
        <p class="col-detail">Fullstack Developer</p>
      </div>
      <div class="project-details-column col-respo">
        <div class="header-detail">RESPONSIBILITIES</div>
        <p class="col-detail">Schema design, backend structure, researching and implementing APIs, setting up repo in GitHub, creating app in Heroku, deploying, setting up domain, design of the website, bootstrap, daily stand ups, dividing daily tasks on Trello, check ins with team members, setting and follow up deadlines.</p>
      </div>
      <div class="project-details-column col-url">
        <div class="header-detail">URL</div>
        <div class="link">
          <a href="https://www.sgmi.io" target="_blank" class="link-block w-inline-block"><p class="description-static">https://sgmi.io</p></a>
        </div>
      </div>
    </div>
  </div>


  <div class="w-richtext">
    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" data-rt-type="image" data-rt-align="fullwidth" data-rt-max-width="2876px" style="max-width:2876px">
      <div>
        <%= image_tag "sgmi_home.png", class:"img-project" %>
      </div>
      <div>
        <%= video_tag ['sgmi_collection.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class:"img-project-medium" %>
      </div>
      <div>
        <%= video_tag ['sgmi_search.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class:"img-project" %>
      </div>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" data-rt-type="image" data-rt-align="fullwidth" data-rt-max-width="2876px" style="max-width:2876px">
      <div>
        <%= video_tag ['sgmi_wallet.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class:"img-project" %>
      </div>
    </figure>
    <figure class="w-richtext-figure-type-image w-richtext-align-fullwidth" data-rt-type="image" data-rt-align="fullwidth" data-rt-max-width="2874px" style="max-width:2874px">
      <div>
      <%= video_tag ['sgmi_watchlist.mp4'], controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class:"img-project" %>

      </div>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="wrapper-bottom wf-section">
    <div data-w-id="4be36480-7b85-9737-e4e4-925b517b4bd6" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="content-footer">
    <blockquote class="call-to-action">Check it out.</blockquote>
    <a href="https://www.sgmi.io/" target="_blank" class="button w-button">https://sgmi.io</a>
  </div>
  </div>
</div>
